* {
	margin: 0px;
	overflow: hidden;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
nav {
	background-color: lightgray;
}
nav .container {
	display: flex;
}
nav .colours {
	display: flex;
	gap: 5px;
	padding: 5px;
}
nav .colours button {
	padding-left: 10px;
	padding-right: 10px;
	border: solid 1px;
}
nav .colours button:hover {
	cursor: pointer;
}
nav .colours .red {
	background-color: red;
}
nav .colours .orange {
	background-color: orange;
}
nav .colours .yellow {
	background-color: yellow;
}
nav .colours .lightblue {
	background-color: rgb(0, 122, 186);
}
nav .colours .blue {
	background-color: blue;
}
nav .colours .green {
	background-color: rgb(24, 168, 24);
}
nav .colours .lightgreen {
	background-color: rgb(58, 231, 58);
}
nav .colours .gray {
	background-color: gray;
}
nav .colours .black {
	background-color: black;
}
nav .saveas {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 8px;
}
nav .saveas {
	cursor: pointer;
}